version: "3.4"
services:
  app: 
    build:
      context: .
      dockerfile: ./Dockerfile
      target: devapp
    image: "takaya030/${GOOGLE_PROJECT_ID}/stmnews"
    #extra_hosts:
    #  - "host.docker.internal:10.0.2.2"
    environment:
      - APP_ENV=local
    ports: 
      - "8080:8080"
    volumes:
      - '.:/var/www'
    networks:
      - stmnews
networks:
  stmnews:
    driver: bridge